
$primary: #007bff;
$gray: #212121;
$light: #ddd;
$sidebar-width: 230px;

.dark {
    min-height: 100vh;
    background: #111;
    color: #fff;

    .rediger, .create, .seeMore, .comment, .login {
        background: #222!important;
    }

    .profile {
        background: #222;
    }

    .no-comments {
        color: #ddd;
    }

    .seeMore a, .seeMore b {
        color: #fff!important;
    }

    .pagination {
        li:not(.active) {
            span {
                border: 1px solid #000!important;
                background: #222!important;
            }
        }
    }

    .comment {
        strong {
            color: #fff;
        }
    }

    .comment {
        background: #222;
        color: #fff;
        border: 1px solid #111;
    }

    .task button {
        box-shadow: none;
    }

    h1, h2, h3, p, span {
        color: #fff;
    }

    nav {
        background: #222;
    }

    .cta {
        background: #222;
    }

    footer {
        border-top-color: #080808;
        border-width: 5px;
        h6 {
            color: #fff;
        }

        background: #111;
    }

    .task {
        button {
            &:not(.promo) {
                background: #222;
                p, h4, svg {
                    color: #fff!important;
                }
            }
        }
    }

    .sidebar {
        background: #222;
        box-shadow: none;

        .list-group-item {
            &.active {
                background: $primary
            }
            background: #222;
            color: #ddd;
        }

        h3 {
            color: #fff;
        }

        label {
            color: #fff;
        }
    }
}