
$primary: #007bff;
$gray: #212121;
$light: #ddd;
$sidebar-width: 230px;

.dark {
    min-height: 100vh;
    background: #111;
    color: #fff;

    svg {
        fill: white;
    }

    .rating b {
        color: #fff;
    }

    .profile h5, .profile div, .errtext {
        color: #fff;
    }

    .tilmeld-error {
        color: #fff;
        margin-bottom: 15px;
    }

    .rediger, .create, .seeMore, .comment, .login, .background, .register {
        background: #222!important;
    }

    .background h4{
        color: #fff;
    }

    .profile {
        background: #222;
    }

    .no-comments {
        color: #ddd;
    }

    .seeMore a, .seeMore b {
        color: #fff!important;
    }

    .pagination {
        li:not(.active) {
            span, button {
                border: 1px solid #000!important;
                background: #222!important;
            }
        }
    }

    .comment {
        strong {
            color: #fff;
        }
    }

    .comment {
        background: #222;
        color: #fff;
        border: 1px solid #111;
    }

    .task button {
        box-shadow: none;
    }

    h1, h2, h3, p, span {
        color: #fff;
    }

    nav {
        background: #222;
    }

    .cta {
        background: #222;
    }

    footer {
        border-top-color: #080808;
        border-width: 5px;
        h6 {
            color: #fff;
        }

        background: #111;
    }

    .task {
        button {
            &:not(.promo) {
                background: #222;
                p, h4, svg {
                    color: #fff!important;
                }
            }
        }
    }

    .sidebar {
        background: #222;
        box-shadow: none;

        .list-group-item {
            &.active {
                background: $primary
            }
            background: #222;
            color: #ddd;
        }

        h3 {
            color: #fff;
        }

        label {
            color: #fff;
        }
    }
}

.pagination {
    margin-top: 40px;
}

.overview {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-gap: 15px;
    justify-items: center;
}

.task {
    overflow-wrap: break-word;
    max-width: 450px;
    width: 100%;
}

.sidebar {
    transition: .25s;
}

.sidebar.open {
    left: 0!important;
}

.menu {
    display: none;
}

@media only screen and (max-width: 830px) {
    .sidebar {
        left: -$sidebar-width;
    }
    
    .menu {
        display: block;
    }

    .search-bar {
        width: 70%!important;
        margin-left: 10px;
    }

    .router-view {
        margin-left: 0px!important;
    }

    footer {
        margin-left: 0px!important;
        width: 100%!important;
    }

    .brand {
        display: none;
    }

    .arbejdsopgave-btn {
        display: none;
    }
}